#map {
    height: 400px;
    width: 800px;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 20px;
    bottom: 20px;
    border: 5px solid;
    border-image-source: linear-gradient(45deg, var(--var_color_1), var(--var_color_2)) ;
    border-image-slice: 1;
}
@media only screen and (max-width: 1024px) {
    #map {
        height: 300px;
        width: 600px;           
    }   
}
@media only screen and (max-width: 720px) {
    #map {
        height: 200px;
        width: 300px;        
    }
}
